*{
    margin: 0;
    padding: 0;
}

nav{
    height: 60px;
    width: 100%;
    background-color: #7d7272;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}
.left a{
    margin-left: 8px ;
    text-decoration: none;
    color: black;
} 
.right ul {
    display: flex;
    list-style: none;
}
.right a{
    text-align: center;
    align-items: center;
    text-decoration: none;
    color: black;
}